rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'the@unknownshoppers.com';
    }

    match /clients/{client} {
      allow read, create, update: if request.auth != null;
      allow delete: if isAdmin();
    }
    match /quotes/{quote} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        || (request.resource.data.serviceType == 'tablas'
            && request.resource.data.clientName is string
            && request.resource.data.total is number);
      allow update: if request.auth != null;
      allow delete: if isAdmin();
    }
  }
}
